
<div class="footer1">
    
    <footer class="footer">
        <h5 class="footer-legend">TP Diplomatura Icaro</h5>
        
        <nav class="footer-nav">
            <a href="https://www.facebook.com/"><img src="./assets/icons/facebook.png" alt="" class="icon1"></a>
            <a href="https://www.twitter.com/"><img src="./assets/icons/gorjeo.png" alt="" class="icon2"></a>
            <a href="https://www.instagram.com/"><img src="./assets/icons/instagram.png" alt="" class="icon3"></a>
        </nav>
    </footer>
</div>