/***Header***** OPEN*/
body, html {
  

    background-color: rgb(24, 24, 27);
    }

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(24, 24, 27);
    height: 42px;

    
    
}

.footer-frase{
    width: auto;
    
}
.footer-nav a{
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    
}

.footer-legend {
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 30px;
    
}
.footer-nav a:hover{
    color:rgb(207, 0, 0);

}

.icon1 {
    max-width: 40px;
    padding-right: 10px;
}
.icon2 {
    max-width: 40px;
    padding-right: 10px;
}
.icon3 {
    max-width: 40px;
    padding-right: 10px;
}
