.btn-change{
    height: 50px;
    width: 150px;
    background: lightseagreen;
    margin: 20px;
    float: left;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: #fff;
    border-radius: 10px;
}
.btn-change:hover{
    -webkit-transform: scale(1.1);
    background: #31708f;
}

.divmensaje {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    
}